<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <h1 class="display-4" jhiTranslate="home.pollTittle">Poll info</h1>
                <div class="alert alert-success">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                      [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}
                    ".</span></div>
                <p class="lead" jhiTranslate="home.pollsubtitle">This is your landing pages</p>
            </div>

            <div *ngSwitchCase="false">
                <h1 class="display-4" jhiTranslate="home.title">Welcome, Git Poll!</h1>
                <p class="lead" jhiTranslate="home.subtitle">This is your landing pages</p>
                <div class="alert-warning">
                    <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                    <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign
                        in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default account: <br/>- User (login="user" and password="user").</span>
                </div>
                <br>
                <p jhiTranslate="home.question">
                    If you have any question on JHipster:
                </p>

                <ul>
                    <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer"
                           jhiTranslate="home.link.homepage">JHipster homepage</a></li>
                    <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer"
                           jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
                    <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank"
                           rel="noopener noreferrer" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
                    <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank"
                           rel="noopener noreferrer"
                           jhiTranslate="home.link.chat">JHipster public chat room</a></li>
                    <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer"
                           jhiTranslate="home.link.follow">follow @jhipster on Twitter</a></li>
                </ul>

                <p>
                    <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a
                    href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer"
                    jhiTranslate="home.github">GitHub</a>!
                </p>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You wish to use your own account?</span>&nbsp;
                <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register
                    a new account</a>
            </div>
        </div>
    </div>
</div>
